@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="alert ">
        <a class="btn btn-info" asp-action="member">Ir para a área do Cliente</a>
    </div>

    <div class="alert">
        <a class="btn btn-info" asp-action="admin">Ir para a área do Administrador</a>
    </div>
</div>
