@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Member";
}

<div class="alert alert-success">
    <a>Bem Vindo à área do Cliente!</a>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
